{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StacklyAI - Home</title>
    <!-- Changed bu Sp, It used to link CSS with HTML-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'appln/home.css' %}">
</head>

<body>

    <!-- header  -->


     <header>
        <!-- Changed by SP, Because we use django, so i alter the code-->
        <img src="{% static 'appln/images/Logo.png' %}" alt="Image">
        <!--<img src="./assets/Logo.png" alt="logo">-->

        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="">API</a></li>
                <li><a href="">Contact Us</a></li>
                <div class="buttonn">
                    <div class="login"><a href="./logIn.html">Log In</a></div>
                    <div class="signup"><a href="./signUp.html">Sign Up</a></div>
                </div>
            </ul>
        </nav>
        <div class="button">
            <div class="login"><a href="./logIn.html">Log In</a></div>
            <div class="signup"><a href="./signUp.html">Sign Up</a></div>
        </div>

        <div class="menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header> 


    <!-- Banner  -->


     <div class="banner">
        <div class="bac-color">
            

            <div class="marquee">
                <marquee>
                    <p>Hey! It looks like you are from USA . We support Purchasing Power Parity pricing, so enjoy 50%
                        off on your subscription. Use code: abc589
                        Hey! It looks like you are from USA . We support Purchasing Power Parity pricing, so enjoy 50%
                        off on your subscription. Use code: abc589</p>
                </marquee>
            </div>

            <div class="banner_home">
                <div class="banner_text">
                    <h3>Design Your <span class="scrollText">"Interiors"</span><br>Space With AI</h3>
                    <p>Easy to Use, Zero Learning, AI Powered Design Tool to generate Your Own Space Photo-like images
                        in 25 Seconds</p>

                    <div class="banner_button">
                        <p>Design Now!</p>
                    </div>

                </div>
                <div class="banner_img">
                        <div class="banner_cont">

                            <div class="right-btn">
                                <p>ORGINAL ROOM</p>
                            </div>

                            <p>Before</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- section2 -->

   <section class="section2">
        <h3>STACKLY AI</h3>
        <h2>Smart, fast, and built for excellence.</h2>
        <p>Delivering rapid, photo-realistic designs with advanced AI technology—trusted by professionals and homeowners
            alike.</p>
    </section> 

    <!-- section3 -->
     <section class="section3">
        <div class="bgcolor">
            <div class="bgimg">

                <img src="./assets/home/sec3/arcticons_ai-chat-alt-1.png" alt=""
                    style="position:absolute;width: 240px;height: 240px;top: 0;left: 0;mix-blend-mode: Overlay;">
                <img src="./assets/home/sec3/arcticons_ai-chat-alt-2.png" alt=""
                    style="position:absolute;width: 60px;height: 60px;top: 554px;left: 1080px;mix-blend-mode: Overlay;">
                <img src="./assets/home/sec3/material-icon-theme_gemini-ai.png"
                    style="position:absolute;width: 44px;height: 44px;top: 747px;left: 260px;" alt="">
                <img src="./assets/home/sec3/material-icon-theme_gemini-ai(1).png"
                    style="position:absolute;width: 44px;height: 44px;top: 932px;left: 70%;" alt="">


                <h1>Ultimate <span style="color: #00D1DD;opacity: 100%;">AI Design Tool</span> for Interiors & Exteriors
                </h1>
                <p>Transform Any Space Effortlessly</p>

                <div class="designs">
                    <div class="design design1">

                        <p
                            style="border-top-left-radius: 100px;border-top-right-radius: 20px;border-bottom-left-radius: 100px;">
                            AI-Powered Interior Designs</p>
                        <img src="./assets/home/sec3/design1.jpeg" alt="">

                    </div>
                    <div class="design design2">

                        <img src="./assets/home/sec3/design2.jpeg" alt="">
                        <p
                            style="border-top-right-radius: 100px;border-top-left-radius: 20px;border-bottom-right-radius: 100px;">
                            Stunning Exterior Makeovers</p>

                    </div>
                    <div class="design design3">

                        <p
                            style="border-top-left-radius: 100px;border-top-right-radius: 50px;border-bottom-left-radius: 100px;">
                            Outdoor Spaces Reimagined</p>
                        <img src="./assets/home/sec3/design3.jpeg" alt="">

                    </div>
                </div>

            </div>
        </div>
    </section> 

    <!-- section4 -->
      <section class="section4">
        <div class="innerbox">
            <p>First-of-Its-Kind Features</p>
            <h2>The <span>All You Need</span> AI Home Design Tool</h2>

            <div class="iconbox">

                <div class="icon1">
                    <img src="./assets/home/sec4/1.png" alt="icon1">
                    <h3>Interior & Exterior Image Generation</h3>
                    <p>Get design ideas for every part of your home—both indoors and outdoors.</p>
                </div>

                <div class="icon1">
                    <img src="./assets/home/sec4/2.png" alt="icon1">
                    <h3>Unlimited AI Ideas</h3>
                    <p>Generate endless creative ideas to transform any space with ease.</p>
                </div>

                <div class="icon1">
                    <img src="./assets/home/sec4/3.png" alt="icon1">
                    <h3>High-Resolution Images</h3>
                    <p>Download crystal-clear, AI-generated images that capture every detail.</p>
                </div>

                <div class="icon1">
                    <img src="./assets/home/sec4/4.png" alt="icon1">
                    <h3>Fast Image Generation</h3>
                    <p>Create stunning, AI-powered images in just seconds.</p>
                </div>

            </div>
            <div class="s4button">
                <p><a href="">Generate now</a></p>
            </div>
        </div>
    </section>  

    <!-- section5 -->

    <section class="section5">
        <div class="sec5innerbox">
            <h1>DESIGN YOUR <SPan>FUTURE HOME</SPan></h1>
            <P>Bring your dream home to life! Explore innovative designs, customize every detail, and create a space
                that reflects your style and vision</P>
            <div class="img">
                <img src="./assets/home/sec5/Frame 182.png" alt="gallery" id="gall">
                <div class="img1" id="gally">
                    <img src="./assets/home/sec5/Frame 175.png" class="f75">
                    <img src="./assets/home/sec5/Frame 176.png" class="f76">
                    <img src="./assets/home/sec5/Frame 177.png" class="f77">
                    <img src="./assets/home/sec5/Frame 178.png" class="f78">
                    <img src="./assets/home/sec5/Frame 181.png" class="f81">
                    <img src="./assets/home/sec5/Frame 180.png" class="f80">
                    <img src="./assets/home/sec5/Frame 183.png" class="f83">
                    <img src="./assets/home/sec5/Frame 184.png" class="f84">
                </div>
            </div>

        </div>
    </section>  


    <!-- section6 -->

   <section class="section6">
        <div class="sec6-innerbox">
            <div class="left-gallery">
                <div class="images">
                    <div class="img1 lite">
                        <img src="./assets/home/sec6/1.png" alt="Design1">
                    </div>
                    <div class="img2 lite">
                        <img src="./assets/home/sec6/2.png" alt="Design2">
                    </div>
                    <div class="img3 lite">
                        <img src="./assets/home/sec6/3.png" alt="Design3">
                    </div>
                    <div class="img4 lite">
                        <img src="./assets/home/sec6/4.png" alt="Design4">
                    </div>
                    <div class="img-text lite">
                        <span>45+</span>
                    </div>
                </div>
                <div class="text">
                    <span>Design Styles</span>
                </div>
            </div>

            <div class="center-logo">
                <div class="logo">
                    <img src="./assets/home/sec6/Logo.png" alt="logo">
                </div>
            </div>

            <div class="right-gallery">
                <div class="images">
                    <div class="img1  lite">
                        <img src="./assets/home/sec6/1 (1).png" alt="">
                    </div>
                    <div class="img2 lite">
                        <img src="./assets/home/sec6/2 (1).png" alt="">
                    </div>
                    <div class="img3 lite">
                        <img src="./assets/home/sec6/3 (1).png" alt="">
                    </div>
                    <div class="img4 lite">
                        <img src="./assets/home/sec6/4 (1).png" alt="">
                    </div>
                    <div class="img-text lite">
                        <span>100+</span>
                    </div>
                </div>
                <div class="text">
                    <span>Design Styles</span>
                </div>
            </div>
        </div>
    </section>  


    <!-- section7 -->

    <section class="section7">
        <div class="sec7-innerbox">
            <div class="sec7-top">
                <h1>PICK YOUR STYLE</h1>
                <div class="sec7-top-inside">
                    <div class="interiors">
                        <div class="img">
                            <img src="./assets/home/sec7/mdi_sofa.png" alt="interiors">
                        </div>
                        <p>interiors</p>
                    </div>
                    <div class="exteriors">
                        <div class="img">
                            <img src="./assets/home/sec7/healthicons_home.png" alt="exteriors">
                        </div>
                        <p>exteriors</p>
                    </div>
                    <div class="outdoors">
                        <div class="img">
                            <img src="./assets/home/sec7/mdi_plant.png" alt="outdoors">
                        </div>
                        <p>outdoors</p>
                    </div>
                </div>
            </div> 

            <!-- top-complete  -->

            <div class="sec7-body">
                <div class="sec7-body-innerbox">
                    <div class="sec7-body1">
                        <div class="sec7-body1-inner">
                            <div class="button-parent">
                                <div class="button">
                                    <img src="./assets/home/sec7/solar_upload-outline.png" alt="">
                                    <p>Step 1 : Upload images</p>
                                </div>
                            </div>

                            <div class="submit-image-parent">
                                <img src="./assets/home/sec7/basil_image-solid (1).png" alt="">
                                <p>Drop an image,Tap to Select,Take a Photo or Paste</p>
                            </div>
                        </div>
                    </div> 
                    <!-- second box   -->
                   <div class="sec7-body2">
                        <div class="sec7-body2-box1">
                            <div class="parent-btn">
                                <div class="btn">
                                    <img src="./assets/home/sec7/healthicons_home.png" alt="">
                                    <p>Step2 : Design or Customize</p>
                                </div>
                            </div>

                            <div class="cont1">

                                <div class="box1">
                                    <p>Select Building Type</p>
                                    <div class="radio-box">
                                        <div class="rbox1">
                                            <span>Commercial</span> <input type="radio">
                                        </div>
                                        <div class="rbox1">
                                            <span>Residential</span> <input type="radio">
                                        </div>
                                    </div>
                                </div>

                                <div class="box2">
                                    <p>Room Type</p>
                                    <div class="scale">
                                        <select name="Living Room" id="">
                                            <option value="Bedroom">Bedroom</option>
                                            <option value="Kitchen">Kitchen</option>
                                            <option value="Dining Room">Dining Room</option>
                                            <option value="Study Room">Study Room</option>
                                            <option value="Home Office">HOME Office</option>
                                            <option value="Family Room">Family Room</option>
                                            <option value="Kids Room">Kids Room</option>
                                            <option value="Balcony">Balcony</option>
                                         </select>
                                    </div>
                                </div>

                                <div class="box2">
                                    <p>Room Style</p>
                                    <div class="scale">
                                        <select name="modern" id="">
                                            <option value="Midcentury Modern">Midcentury Modern</option>
                                            <option value="Modern">Modern</option>
                                            <option value="Tropical">Tropical</option>
                                            <option value="Rustic">Rustic</option>
                                            <option value="Tribal">Tribal</option>
                                            <option value="Cyberpunk">Cyberpunk</option>
                                            <option value="Zen">Zen</option>
                                            <option value="Japanese Design">Japanese Design</option>
                                            <option value="Biophilic">Biophilic</option>
                                            <option value="Christimas">Christimas</option>
                                            <option value="Bohemian">Bohemian</option>
                                            <option value="Contemporary">Contemporary</option>
                                            <option value="Maximalist">Maximalist</option>
                                            <option value="Vintage">Vintage</option>
                                            <option value="Baroque">Baroque</option>
                                            <option value="Farmhouse">Farmhouse</option>
                                            <option value="Minimalist">Minimalist</option>
                                            <option value="Gaming Room">Gaming Room</option>
                                            <option value="French Country">French Country</option>
                                            <option value="Art Deco">Art Deco</option>
                                            <option value="Art Nouveau">Art Nouveau</option>
                                            <option value="Halloween">Halloween</option>
                                            <option value="Ski Chalet">Ski Chalet</option>
                                            <option value="Sketch">Sketch</option>
                                            <option value="Scandinavian">Scandinavian</option>
                                            <option value="Industrial">Industrial</option>
                                            <option value="Neoclassic">Neoclassic</option>
                                            <option value="Medieval">Medieval</option>
                                            <option value="Shabby Chic">Shabby Chic</option>
                                            <option value="Eclectic">Eclectic</option>
                                            <option value="Asian Traditional">Asian Traditional</option>
                                            <option value="Hollywood Glam">Hollywood Glam</option>
                                            <option value="Western Traditional">Western Traditional</option>
                                            <option value="Transitional">Transitional</option>
                                         </select>
            
                                    </div>
                                </div>

                                <div class="box2">
                                    <p>Number Of Design</p>
                                    <div class="scale">
                                        <input type="text">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="sec7-body2-box2">
                            <div class="parent-btn">
                                <div class="btn">
                                    <img src="./assets/home/sec7/healthicons_home.png" alt="">
                                    <p>Step3 : Generate new Design</p>
                                </div>
                            </div>

                            <div class="cont2">

                                <div class="box1">
                                    <p>Select Building Type</p>
                                    <div class="radio-box">
                                        <div class="rbox1">
                                            <span>Commercial</span> <input type="radio">
                                        </div>
                                        <div class="rbox1">
                                            <span>Residential</span> <input type="radio">
                                        </div>
                                    </div>
                                    <div class="radio-box">
                                        <div class="rbox1">
                                            <span>Commercial</span> <input type="radio">
                                        </div>
                                        <div class="rbox1">
                                            <span>Residential</span> <input type="radio">
                                        </div>
                                    </div>
                                    <div class="magic">
                                        <img src="./assets/home/sec7/Vector.png" alt="">
                                        <h2>Create Magic</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

<!-- section18  -->

<section class="section18">
    <div class="head">
        <h1><span>SIMPLIFY DESIGN </span>WITH <span class="colorr">STACKLYAI</span></h1>
        <p>3 Easy Steps to Get Started</p>
    </div>
    <div class="body">
        <div class="step1">
            <div class="img">
                <div class="btn">
                    Step 1:
                </div>
            </div>
            <p><span>Upload</span> a photo of your room, home, or outdoor space.</p>
    
        </div>

        
        <div class="step2" style="position: relative; top: 300px;">
            <div class="img">
                <div class="btn">
                    Step 2:
                </div>
            </div>
            <p><span> Personalize your experience </span>— choose the room type, adjust AI creativity, add special instructions, and select your favorite design style</p>
        </div>


        <div class="step3"style="position: relative; top: 600px;">
            <div class="img">
                <div class="btn">
                    Step 3:
                </div>
            </div>
            <p><span>Generate</span> stunning new décor and design concepts in under 25 seconds.</p>
    
        </div>

    </div>
</section>

 

    <!-- section8 -->


    <section class="section8">
        <div class="sec8innerbox">
            <h1>Sign Up Quickly! Get <span>25%</span>Offer</h1>
            <div class="ul-list">
                <ul>
                    <li>30 free outputs</li>
                    <li>No credit card required</li>
                </ul>
            </div>
            <div class="button-parent">
                Signup
            </div>
        </div>
    </section> -->


<!-- section9 -->

<section class="section9">
    <h1>Plan Your Future <span>Interiors, Exteriors, </span> and <span>Outdoor Spaces </span>with <span class="dark">Stackly</span></h1>
    <img src="./assets/home/sec9/Frame 168.png" alt="interior">
</section> -->

<!-- section10  -->

<section class="section10">
    <h1>Compare Design, Find Your <span>Perfect style</span></h1>
    <p>Explore and compare multiple interior, exterior, and outdoor designs to discover the one that matches your unique taste.</p>
    <div class="grp-image">

        <div class="image1">
            <img src="./assets/home/sec10/3d-interior-design-free-png 1.png" alt="image1">
            <p><span>"Your style is sleek and sophisticated. </span>This brown-themed office design blends modern functionality with warm, earthy tones—perfect for a productive and stylish workspace."</p>
        </div>

        <div class="image2">
            <img src="./assets/home/sec10/3d-interior-design-png 1.png" alt="image2">
            <p><span>"Embrace comfort with a touch of elegance.</span> This brown-themed lounge offers a cozy yet professional atmosphere, balancing work and relaxation effortlessly."</p>
        </div>

    </div>
</section>
 

<!-- section11 -->

<section class="section11">
    <h1>Explore our community's creations for <span>inspiration</span>, then craft your <span>own project</span> and share amazing images with the world.</h1>
    <div class="images">

       <div class="img">

        <div class="img1">
            <div class="para">
                <h4>Orginal Room</h4>
            </div>
        </div>

        <div class="img2">
            <div class="para">
                <h4>STACKLY AI</h4>
            </div>
        </div>


       </div>

        <div class="nav">
            <div class="arrow">
                <img src="./assets/home/sec11/Vector.png" alt="left">
            </div>

            <div class="balls">
                <div class="ball1">
                    
                </div>
                <div class="ball1">

                </div>
                <div class="ball1">

                </div>
            </div>

            <div class="arrow">
                <img src="./assets/home/sec11/Vector (1).png" alt="right">
            </div>

        </div>

        <div class="learn">
            <p><a href="">Learn More</a></p>
        </div>
    </div>
</section> 

<!-- section12 -->

<section class="section12">
    <h3>Unlock to get more results instantly in STACKLY AI</h3>
    <div class="btn-parent">
        <p>Start Free</p>
    </div>
</section> -->

<!-- section13 -->

<section class="section13">
    <h3>Discover Our <span>Advanced AI Interior Tools</span> and Redesign Your Space Instantly</h3>
</section> -->

<!-- section14 -->

<section class="section14">
    <div class="box1">
        <div class="content">
            <h1><span>Gorgeous Makeovers</span> and Stylish Transformations</h1>
            <p>Want to give your home a stunning new look inside and out? Our AI-powered makeover feature lets you explore various styles to elevate your space. Redesign any interior, exterior, or outdoor area effortlessly.</p>
        </div>

        <div class="img">
            <img src="./assets/home/sec14/Image 1.png" alt="">
        </div>
    </div>
    
    <div class="box1">
        <div class="content">
            <h1><span>Transform Empty Spaces </span>with Stylish Furniture</h1>
            <p>Want to give your home a stunning new look inside and out? Our AI-powered makeover feature lets you explore various styles to elevate your space. Redesign any interior, exterior, or outdoor area effortlessly.</p>
        </div>

        <div class="img">
            <img src="./assets/home/sec14/Image 1.png" alt="">
        </div>
    </div>
    
    <div class="box1">
        <div class="content">
            <h1> Artistic Makeover for <span>Interiors</span> and <span>Exteriors</span></h1>
            <p>Want to give your home a stunning new look inside and out? Our AI-powered makeover feature lets you explore various styles to elevate your space. Redesign any interior, exterior, or outdoor area effortlessly.</p>
        </div>

        <div class="img">
            <img src="./assets/home/sec14/Image 1.png" alt="">
        </div>
    </div>

    <div class="para">
        <p>Loved by experts and designed for everyone, our platform brings professional-quality results with ease and simplicity.</p>
        <h1>Get Started – Infinite Ideas.</h1>
        <div class="btn">
            Access Now!
        </div>
    </div>
</section> -->

<!-- section15 -->

<section class="section15">

    <h3>Transform in <span>Seconds,</span> Not <span>Days</span></h3>
    <h1><span>StacklyAI</span> is for <span>Homeowners</span> and <span>Professionals</span></h1>

    <div class="images">

        <div class="imgbox1">
            <img src="./assets/home/sec 15/Frame 173.png" alt="">
            <h2>For Personal Use <span>01</span></h2>
            <p>Explore your unique style and create endless realistic designs for both your home's interior and exterior spaces.</p>
        </div>

        <div class="imgbox1">
            <img src="./assets/home/sec 15/Frame 174.png" alt="">
            <h2>For Personal Use <span>02</span></h2>
            <p>Impress clients instantly by showcasing stunning design transformations while saving time on every project.</p>
        </div>

    </div>
</section> -->

<!-- section16 -->

<section class="section16">

    <div class="h1">
        <div class="comma">
            <img src="./assets/home/sec16/vaadin_quote-left.png" alt="left">
        </div>
        <h1>Meet Our Members</h1>
        <div class="comma">
            <img src="./assets/home/sec16/Vector.png" alt="right">
        </div>
    </div>

    <p>You're in good company with <span>Stackly AI</span>,
        trusted by people in all 195 countries.</p>

    <div class="img">
        <img src="./assets/home/sec16/Vector (1).png" alt="handshake">
    </div>  
<div class="box-parent">
    
    <div class="box1">
        <div class="box">
            <div class="content">
                <h1>Guru Ragav Auditor</h1>
                <p>Auditor</p>
            </div>
            <div class="img">
                <img src="./assets/home/sec16/Image.png" alt="img1">
            </div>
        </div>
        <p>“I use Stackly AI to help my clients visualize how their backyard could look like if they hire me for the job. It works flawlessly!”</p>
    </div>

    <div class="box1">
        <div class="box">
            <div class="content">
                <h1>Guru Ragav Auditor</h1>
                <p>Auditor</p>
            </div>
            <div class="img">
                <img src="./assets/home/sec16/Image (1).png" alt="img1">
            </div>
        </div>
        <p>“I needed to replace my living room furniture so I generated a few  design ideas with Stackly AI. I  picked my favorite, sent it to the  furniture maker and now I have it  in real life. Awesome technology!”</p>
    </div>

    <div class="box1">
        <div class="box">
            <div class="content">
                <h1>Ram Krishnan</h1>
                <p>Auditor</p>
            </div>
            <div class="img">
                <img src="./assets/home/sec16/Image (2).png" alt="img1">
            </div>
        </div>
        <p>“I run a real estate agency and a lot  of my clients send me pictures  with their empty properties. I use  Stackly AI to furnish them  automatically. It has become an  indispensable tool for us.”</p>
    </div>

</div>
</section>
 -->
<!-- section17 -->
 
<section class="section17">
    <div class="sec17innerBox">
        <div class="h1">
            <img src="./assets/home/sec17/Vector.png" alt="">
            <h1>Frequency Asked Questions</h1>
        </div>
        <p>Have questions? We've got answers! Explore our FAQs to learn more about how Stackly AI works, its features, and how it can help you streamline your tasks effortlessly.</p>
        <div class="faq-item">
            
            <div class="faq">
                <h2>What is the Stackly AI?</h2>
                <svg class="down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
            </div>
            <div class="faq-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempore earum doloremque? Facilis id nihil perferendis fugit amet eveniet quidem.</div>
        

            <div class="faq">
                <h2> How does Stackly AI work?</h2>
                <svg class="down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
            </div>
            <div class="faq-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempore earum doloremque? Facilis id nihil perferendis fugit amet eveniet quidem.</div>
        

            <div class="faq">
                <h2> Is Stackly AI free to use?</h2>
                <svg class="down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
            </div>
            <div class="faq-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempore earum doloremque? Facilis id nihil perferendis fugit amet eveniet quidem.</div>
        

            <div class="faq">
                <h2> How do I contact Stackly AI?</h2>
                <svg class="down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
            </div>
            <div class="faq-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad tempore earum doloremque? Facilis id nihil perferendis fugit amet eveniet quidem.</div>
        
        
        </div>
    </div>
</section> -->

<!-- section18 -->

<footer>
    <div class="innerfooter">

        <div class="fbox1">
            <img src="./assets/Logo.png" alt="">
            <p>Automatically generate photo-like images of your desired spaces in seconds. Unleash the most advanced AI interior design tool to boost your productivity</p>
            <div class="social">
                <a href="#"><img src="./assets/home/footer/jam_facebook.png" alt="facebook"></a>
                <a href="#"><img src="./assets/home/footer/TwitterX.png" alt="X"></a>
                <a href="#"><img src="./assets/home/footer/Instagram.png" alt="Instagram"></a>
                <a href="#"><img src="./assets/home/footer/ri_whatsapp-fill.png" alt="whatsapp"></a>
            </div>
        </div>

        <div class="fbox2">
            <div class="head">
              Quick links
            </div>
            <h3>Home</h3>
            <h3>Trends</h3>
            <h3>Products</h3>
            <h3>Pricing</h3>
            <h3>Api</h3>
        </div>

        <div class="fbox3">
            <div class="head">Terms & Policy</div>
            <h3>Terms of Services</h3>
            <h3>Privacy and Cookie</h3>
            <h3>Policy</h3>
            <h3>Cookie Settings</h3>
        </div>

        <div class="fbox4">
            <div class="head">Contact Us</div>
            <div class="email">
                <img src="./assets/home/footer/ic_baseline-email.png" alt="email">
                <h3>info@stacklyai.com</h3>
            </div>
        </div>
    </div>
    <hr>
    <h3> © 2023 Stackly AI | All Rights Reserved</h3>

</footer>


 -->









<script>
   const menu = document.querySelector('.menu');
   const ul = document.querySelector('nav ul');
    
    menu.addEventListener('click', () => {
        ul.classList.toggle('active');
        
    })

    // faq 
    document.querySelectorAll(".down").forEach(downIcon => {
  downIcon.addEventListener("click", () => {
    const faqPara = downIcon.parentElement.nextElementSibling;
    faqPara.classList.toggle("actived");
    downIcon.classList.toggle("rotate");
  });
});





</script>
<!--Changed by sp, I alter the line regards to django-->
<script src="{% static 'appln/script.js' %}" charset="UTF-8"></script>


<!--<script src="./script.js" charset="UTF-8"></script>-->
</body>


</html>